@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --arrowLength: 15px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fff;
  }
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.backgrounds{
  background-image: url("./EAES-Picsart-AiImageEnhancer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tableE{
  padding: 1rem 1rem;
 
}
.backgrounds2{
  background-image: url('./pattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.afterarrow::after {
  content: '';
  position: absolute;
  top:  calc(var(--arrowLength) * -1);
  right: calc(var(--arrowLength) * 2.3);
  transform: rotate(180deg);
  width: 0;
  height: 0;
  border-left: var(--arrowLength) solid transparent;
  border-right: var(--arrowLength) solid transparent;
  border-top: var(--arrowLength) solid #79716b; /* Adjust color to match the background */
/* Optional shadow for better visibility */
}
.afterarrow2::after {
 
  top:  calc(var(--arrowLength) * -1);
  right: calc(var(--arrowLength) * 0.55);
  /* Adjust color to match the background */
/* Optional shadow for better visibility */
}